---
title: Diversity in K-12 computer science
theme: responsive
social:
  "og:title": "Code.org's plan for diversity in K-12 computer science"
  "og:description": "A summary of our plans (and results) to address gender and ethnic diversity in computer science in K-12 schools."
  "og:image": "http://code.org/images/student-tatiana.jpg"
  "og:image:width": 1200
  "og:image:height": 628
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---
<%
  stats = Properties.get_user_metrics
%>

# Code.org and Diversity in Computer Science

The fields of software, computing and computer science are plagued by tremendous underrepresentation of women, African Americans, and Hispanics.  In high school, the Advanced Placement exam in Computer Science has the worst gender diversity across all courses, with 78 percent participation by men and 22 percent by women. Participation by students of color is 13 percent. These underrepresented groups represent 65 percent of the entire US population!

This problem extends into the software workplace, which suffers a similar lack of diversity. Obviously there are many issues to address to solve the entire problem of diversity in the tech workforce - from unconscious bias in hiring or retention practices, or capacity-building in university programs. We work with our [Diversity Advisory Council](/about/diversity-council) to help connect our work in K-12 to the bigger picture.

<center><img src="/images/diversitypipeline2.png" style="max-width: 100%"/></center>
<br/><br/>
Our focus is primarily on K-12 learning, which is where the diversity problem begins: Among women, those who try AP Computer Science in high school are 10 times more likely to major in computer science. Black and Hispanic students who try AP Computer Science in high school are 7-8 times more likely to major in computer science ([source](http://blog.code.org/post/143007230537/computer-science-the-impact-of-k-12-on-university)). But more importantly, computer science is now a foundational science for all 21st century careers, making access in K-12 to this knowledge an equity issue the country must address.

## Diversity in AP Computer Science since Code.org launch in 2013
The charts below show participation in the AP Computer Science exam among female students and underrepresented minorities since 2007. Not only has overall participation grown, but the overall proportion of these traditionally underrepresented groups has been increasing. Although these charts are a barometer of Code.org's work to popularize computer science, break stereotypes, and build the K-12 pipeline, the improvements aren't the result of Code.org's work alone. Besides all the organizations working on diversity in tech, the real credit belongs to the thousands of teachers who have worked for years to improve diversity in their classrooms. While things are moving in the right direction, we have a long way to go to reach a balanced population in AP Computer Science, which is why Code.org focuses on the entire K-12 pathway.

<center><img src="/images/infographics/fit-800/csp-results.png" style="max-width: 100%"/></center>
<br/><br/>

## Diversity of students in Code.org courses across grades K-12
<center><img src="/images/infographics/fit-800/diversity-courses-2018-web.png" style="max-width: 100%"/></center>

Addressing diversity issues is foundational to Code.org’s work, and is woven throughout our programs - from curriculum to teacher professional learning to advocacy to marketing. We focus not only on gender and socioeconomic diversity, but also on increasing participation among underrepresented minorities: African Americans, Hispanic/Latino students, Native American/Alaskans, and Native Hawaiian/Pacific Islanders. We increase diversity in computer science by reaching students of all backgrounds where they are — at their skill-level, in their schools, and in ways that inspire them to keep learning. Of course, when our teachers integrate computer science into classrooms that *all* students attend, we have an immediate impact on diversity. (Details on how we measure student diversity in our courses are [here](https://docs.google.com/document/u/2/d/1gySkItxiJn_vwb8HIIKNXqen184mRtzDX12cux0ZgZk/pub))

### The underrepresentation of minorities in computer science isn't about lack of interest
Though black, Latinx, American Indian, and Native Pacific Islander students are dramatically underrepresented in university computer science departments (making up just 17% of CS majors) and in AP Computer Science exams, it may seem that they're less interested in studying computer science than their white or Asian peers. But their participation in Code.org courses suggests the opposite. We ran an analysis on our high school CS Principles classrooms, and, it turns out that underrepresented minorities do choose to sign up for our CS classes at much higher rates than national AP data would suggest.

The chart below shows the data from hundreds of Code.org computer science classrooms. We compared the percent of underrepresented minorities at the school as a whole to the percent among students who enroll in our courses. The orange dots represent computer science classrooms that are more diverse than the school as a whole. The blue dots are those that are less diverse.

<center><img src="/images/infographics/fit-800/courses-diversity-scatterplot-2018.png" style="max-width: 100%"/></center>

Almost 40% of Code.org classrooms are more diverse than the school as a whole and most of our classrooms track close to an even balance. When teachers and administrators in diverse schools offer Code.org curriculum designed to support underrepresented minorities, the participation in high schools dramatically exceeds the nationwide numbers and the reality of the tech industry today.

<br>
Below are examples of some of the other tactics we use to address diversity issues.


## Curriculum materials designed to recruit, engage, and retain women and underrepresented students of color

From elementary school all the way to high school, our courses are designed specifically with a focus on diversity and recruitment of traditionally underrepresented students. This is factored into the curriculum itself. For example, our high school course sequencing begins students with a unit on problem-solving, instead of jumping directly into computer programming - this allows students to learn together on an even playing field, even if some students have already learned to code in a summer camp or after school.

<br/>
<center><img width="100%" src="/images/videostars2.png" /></center>
<br/>

Across all the [video tutorials](/educate/videos) we produce, we've recruited a wide cast of "lecturers", featuring not only celebrated technologists like Bill Gates or Mark Zuckerberg, but also women and underrepresented minorities in computing such as Paola Minaya (hispanic engineer at Microsoft), Tess Winlock (female engineer at Google), Makinde Adeagbo (early African American engineer at Facebook and Pinterest), or Kate Starbird (WNBA basketball player, now computer scientist at University of Washington). By casting a wide range of lecturers, diverse CS role models from different industries are baked into our curriculum materials.

The results speak for themselves:

|Code.org program                                  | Scale (students)  | % Female  | % Underrepresented minorities <br/>(Black, Hispanic, Pacific Islander, Native American)|
|------------------------------------------------- | ----------------- | ----------| ---------------------------------------------------------------------------------------|
|Hour of Code                                      | Tens of millions  | 49%       | 38.7% (U.S.)                                                                           |
|CS Fundamentals for K-8                           | Millions          | 45%       | 48% (U.S.)                                                                             |
|Exploring CS - high school intro class            | Tens of thousands | 36% (U.S.)| 58% (U.S.)                                                                             |
|CS Discoveries - middle & high school intro class | Tens of thousands | 38% (U.S.)| 49% (U.S.)                                                                             |
|CS Principles - high school AP class              | Tens of thousands | 33% (U.S.)| 42% (U.S.)                                                                             |

<center><font size="1">Source: Code.org surveys of students or participating educators</font></center>
<br/>

## A focus on equity in our work with schools and teachers


All of our professional development workshops for teachers include a session on equity and access, to help teachers build awareness of their own stereotypes, and to give them tools to recruit or retain a diverse CS student population.  We also host professional development workshops with district administrators and counselors, who play a critical role in helping high school students choose their fields of study, in order to guide them to help recruit diverse students to the new computer sciences we help them establish in their schools. By focusing our efforts on schools with underserved populations, particularly in urban or rural geographies, we reach the students who typically don't participate in computer science.

The results are most evident in our roll-out of the [CS Principles](https://code.org/educate/csp) course which was designed from the ground up to broaden participation in computer science. Endorsed by the College Board, this course prepares students for the new AP exam in computer science. Code.org has helped expand access to this course in urban school districts such as New York City, Chicago, or Oakland, as well as in rural schools in Idaho or Alabama. Because of our focus on reaching underprivileged students, there are more underrepresented minorities enrolled in our CS Principles classrooms than the total nation's AP Computer Science exam takers in 2016!

<center><img width="70%" src="/images/2015AR/diversity.jpg" /></center>


## Changing state level policies to increase participation in CS

Our early advocacy efforts focused on allowing rigorous computer science courses to count towards math or science high school graduation requirements. Polling done by the Computer Science Teachers Association shows when women or underrepresented minorities decide whether or not to study Computer Science, a key factor in their choice is whether it counts for graduation credit. In the states where computer science counts towards high school graduation, enrollment by underrepresented minorities is 37 percent higher than in the states where it does not. Code.org’s past success at changing graduation policy in 20+ states will hopefully improve enrollment by underrepresented groups.  As a simple example, [a comparison of neighboring school districts in Maryland](http://blog.code.org/post/121123281798/md) showed this policy resulting in a **tripling** of female representation in computer science. Overall, comparing the before and after enrollment of states that adjusted graduation policy with our help, we have seen a [24% increase](https://medium.com/@codeorg/does-making-cs-count-make-a-difference-7ab5ca6b8407) in computer science enrollment by female students.

Moving forward, our advocacy efforts are focused on expanding access to computer science, especially in underprivileged schools. By offering computer science in every school, [Arkansas has shown](http://amppob.com/nearly-4000-arkansas-students-enrolled-in-computer-science-in-fall-15/) a 300% increase in enrollment among female students, and a 600% increase among African American female students! This shows the massive impact of state policy on CS, and helps our advocacy efforts in other states.


## Marketing to change culture and break stereotypes with the Hour of Code campaign

The Hour of Code is an international campaign to recruit students to try computer science for one hour. A significant reason to do this is to break the stereotype that CS is only for nerdy boys  - by showing students that everybody is doing it. This stereotype is a prime reason girls avoid CS. The #1 way we’re organizing participation is by recruiting teachers to offer an Hour of Code in their classroom. These are math teachers, english teachers, science teachers, who have a 50/50 balance of boys and girls, and can communicate that anybody can try.

A [recent study](/files/HourOfCodeImpactStudy_Jan2017.pdf) of students participating in the Hour of Code showed significant improvements in attitudes and self-efficacy towards computer science, *especially among female students.*

The results speak for themselves, with over 700 million “hours served”, and 50% of participants being female, the Hour of Code is the largest-scale effort to introduce computer science to girls.

<center><img src="/images/hourofcodewomen.png" /></center>

We’ve also distributed [recruitment posters, videos, and other marketing materials](http://code.org/educate/inspire) for CS teachers to help them recruit more women to their classrooms.  For example, we’ve produced this video specifically highlighting female role models talking about the importance of learning computer science.

<center><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/mFPg96gdPkc" frameborder="0" allowfullscreen></iframe></center>



## Our own team’s gender diversity

| Our own team gender diversity |             |
|------| ----------- |
| Code.org full time staff |  62% female |
| Our leadership team |  55% female |
| Our engineering team (software engineers only) |  50% female |
| Our technical staff (software engineers, technical product managers, computer science educators) |  51% female |
| Our extended team of expert facilitators|  66% female |
| The teachers attending our professional development |  86% female |

<br/><br/>
We are also proud for [USA Today to rank Code.org among the top 25 small-to-medium business workplaces for women](https://www.usatoday.com/story/money/2017/11/28/godaddy-costco-adobe-among-comparablys-best-companies-women/889348001/), according to the women on our team.
