-# Rendering this partial causes the school info interstitial to be shown to the
-# user.  Rendering this partial into a cached view may not work properly.

- require 'country_codes'
- require 'state_abbr'
- require 'geocoder'

- location = Geocoder.search(request.ip).try(:first)
-# geocoder sometimes shows localhost's country as RD/Reserved
- us_ip = location.nil? || ['US', 'RD'].include?(location.country_code.to_s.upcase)
- current_user_school_info = current_user.school_info

- script_data = {}
- script_data[:formUrl] = '/api/v1/user_school_infos'
- script_data[:authTokenName] = request_forgery_protection_token.to_s
- script_data[:authTokenValue] = form_authenticity_token
- script_data[:existingSchoolInfo] = {}
- if current_user_school_info
  - script_data[:existingSchoolInfo] = current_user_school_info.slice(:country, :school_type, :school_id, :school_name, :full_address)
- script_data[:existingSchoolInfo][:country] ||= 'United States' if us_ip

- content_for(:head) do
  %script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?client=#{CDO.google_maps_client_id}&sensor=true&libraries=places,geometry&v=3.37"}
  %script{src: minifiable_asset_path('js/layouts/_school_info_interstitial.js'), data: {schoolinfointerstitial: script_data.to_json}}
  :css
    .pac-container { z-index: 2000; }
