= form_for(@script || :script, @script ? {} : {url: scripts_path}) do |f|
  - if @script && @script.errors.any?
    #error_explanation
      %h2
        = pluralize(@script.errors.count, 'error')
        prohibited this script from being saved:
      %ul
        - @script.errors.full_messages.each do |msg|
          %li= msg
  - if @script.nil? || @script.new_record?
    .field
      = f.label :name
      = f.text_field :name
  - else
    = f.hidden_field :name
  .edit_container
  - include_stages = params[:beta].present?
  - scriptData = {script: @script ? @script.summarize_for_edit : {},
                  i18n: @script ? @script.summarize_i18n : {},
                  beta: params[:beta].present?,
                  levelKeyList: params[:beta] && Level.key_list,
                  stageLevelData: @script_file,
                  locales: options_for_locale_select,
                  script_families: ScriptConstants::FAMILY_NAMES,
                  version_year_options: Script.get_version_year_options,
                  flex_category_map: I18n.t('flex_category'),
                  is_levelbuilder: current_user.levelbuilder?}
  %script{src: minifiable_asset_path('js/scripts/_form.js'),
          data: {levelBuilderEditScript: scriptData.to_json}}

- if @show_all_instructions
  - @script.stages.each do |stage|
    %br
      %h1= stage.localized_title
      %br
      - stage.script_levels.each do |sl|
        %div{style: 'padding-left:40px'}
          = link_to edit_level_path(sl.level) do
            %h2= "Puzzle #{sl.position} Instructions (#{sl.level.name}):"
        %br
        %div{style: 'padding-left:80px'}
          - md = sl.level.properties['markdown'] || sl.level.properties['long_instructions']
          - if md.present?
            = ActionView::Base.new.render(inline: md, type: :md)
          - else
            = sl.level.properties['short_instructions']
        %br
