-# This variable will get any data we need to pass along to scripts/show.js
- script_data = @script.summarize(true, current_user)
- additional_script_data = {course_name: @script.course&.name, show_redirect_warning: @show_redirect_warning, redirect_script_url: @redirect_script_url, section: @section, user_type: current_user&.user_type, user_id: current_user&.id, is_verified_teacher: current_user&.authorized_teacher?, locale: Script.locale_english_name_map[request.locale]}
- scriptOverviewData = {scriptData: script_data.merge(additional_script_data)}
- if @script.professional_learning_course? && @current_user && Plc::UserCourseEnrollment.exists?(user: @current_user, plc_course: @script.plc_course_unit.plc_course)
  -  scriptOverviewData[:plcBreadcrumb] = {unit_name: @script.plc_course_unit.unit_name, course_view_path: course_path(@script.plc_course_unit.plc_course.course)}
- content_for(:head) do
  %script{ src: minifiable_asset_path('js/scripts/show.js'), data: {scriptoverview: scriptOverviewData.to_json }}


- if RaceInterstitialHelper.show?(current_user) || @force_race_interstitial
  = render partial: 'layouts/race_interstitial'

= render partial: 'shared/check_admin'

- if @current_user.try(:script_hidden?, @script)
  = render partial: 'hidden_script'
- else
  - course_link = @script.course_link(params[:section_id])
  - if course_link
    - course_title = @script.course_title || I18n.t('view_all_units')
    #script-breadcrumb
      %a{href: course_link}
        %i.fa.fa-chevron-left
        %span
          = course_title
  #landingpage
    #notification
    -# This div ends up being owned by ScriptOverviewHeader in react
    #lesson-heading-extras
      - if @script.banner_image
        %p
          - path = script_next_path(@script)
          - path += "?section_id=#{params[:section_id]}" if params[:section_id]
          = link_to image_tag(@script.banner_image), path, class: 'uitest-script-next-banner'

      - if @script.beta?
        .betacontainer
          != t('landing.prerelease_tutorial', markdown: true)

    #stats
      .user-stats-block

    %div{style: 'clear: both;'}
    %br/
    %br/
    - if @current_user.try(:teacher?)
      - if @script.csf_international?
        %a{href: CDO.code_org_url('/curriculum/docs/k-5/overview')}
          = t('home.all_courses')
        %br/
        %br/

  - if can? :edit, @script
    -# Show all the levels, their names, and instructions in the extra links box.
    = render layout: 'shared/extra_links' do
      %strong= @script.name
      %ul
        %li= link_to "Edit", edit_script_path(@script)
      - unless @script.courses.empty?
        = "This script is in #{@script.courses.length} course#{'s' unless @script.courses.length == 1}:"
        %ul
          - @script.courses.each do |course|
            %li= link_to course_path(course)
      - levels = Script.get_from_cache(@script.name).stages.map{ |stage| stage.script_levels.map{ |sl| sl.level }}.flatten
      .row
        .span1
          = "Index"
        .span3
          = "Level name"
        .span3
          = "Template level"
        .span3
          = "Contained levels"
      - levels.each_with_index do |level, index|
        .row
          .span1
            = index + 1
          .span3
            = level.name
          .span3
            = level.properties['project_template_level_name']
          .span3
            = level.properties['contained_level_names'].try {|names| names.join(", ")}
