@import 'color';
@import 'font';

/* HEADERS */

.twolineheader {
  h2 {
    font-family: $gotham-regular;
    font-weight: normal;
    color: $purple;
    font-size: 24px;
    margin-bottom: 0px;
    line-height: 30px;
  }
  
  h1 {
    margin-top: 0px;
    line-height: 30px;
    font-size: 30px;
    font-family: $gotham-bold;
    font-weight: normal;
  }
}

.coursesheader {
  h1 + h2 {
    margin-top: 10px;
  }

  h2 {
    margin-bottom: 5px;
  }
}

#landingpage h3 img.logo,
.course_progress h3 img.logo {
  height: 40px;
}

/**
 * betatext can be used to style a span directly, or betacontainer can be used
 * on a node containing markdown to apply the beta styling to all **strong**
 * nodes in the markdown
 */
.betatext, .betacontainer strong {
  color: $realyellow;
  background-color: $charcoal;
  border-radius: 5px;
}

/* COURSEBLOCKS */

.courseblock-span1 {  width: 60px;  }
.courseblock-span2 {  width: 140px;  }
.courseblock-span3 {  width: 220px;  }
.courseblock-span4 {  width: 300px;  }
.courseblock-span5 {  width: 380px;  }
.courseblock-span6 {  width: 460px;  }
.courseblock-span7 {  width: 540px;  }
.courseblock-span8 {  width: 620px;  }
.courseblock-span9 {  width: 700px;  }
.courseblock-span10 {  width: 780px;  }
.courseblock-span11 {  width: 860px;  }
.courseblock-span12 {  width: 940px;  }

.courseblock-tall {
  background-color: white;
  height: 300px;
  border: solid 1px #bbb;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  float: left;
  box-sizing: border-box;
  margin-top: 30px;

  &:hover {
    border-color: $dark_charcoal;

    h3, .smalltext {
      color: $dark_charcoal;
    }
  }

  .course-container {
    padding: 8px 16px 16px 16px;
  }

  .heading {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow:hidden;
  }

  a {
    &:hover, &:link, &:active, &:visited {
      text-decoration: none;
    }
  }

  h3 {
    color: $charcoal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: $gotham-bold;
    display: block;
    font-size: 24px;
    line-height: 30px;
    width: 186px;
    margin: 0;
  }

  .beta {
    .heading {
      padding-right: 0px;
    }

    .betatitle {
      line-height: 40px;
      width: 135px;
      float: left;
    }

    .betatext {
      color: $realyellow;
      text-align: center;
      display: block;
      float: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      background-color: $light_gray;
      font-size: 20px;
      height: 35px;
      line-height: 40px;
      width: 60px;
      border-radius: 4px;
    }
  }

  .text {
    font-size: 14px;
    line-height: 17px;
    font-family: $gotham-regular;
    font-weight: normal;
    color: $charcoal;
  }

  .smalltext {
    font-size: 13px;
    padding-top: 12px;
  }

  .teacher-guide {
    font-size: 13px;
    position: absolute;
    bottom: 16px;
    right: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.courseblock-wide-small {
  background-color: white;
  overflow: hidden;
  position: relative;
  float: left;
  box-sizing: border-box;
  border: solid 1px #bbb;
  border-radius: 5px;
  margin-top: 20px;

  .heading {
    width: 280px;
  }

  a {
    text-decoration: none;
  }

  img {
    box-sizing: content-box;
    float: right;
  }

  .imgspan {
    margin-left: 0;
    float: right;
    text-align: right;
  }

  h3 {
    margin: 10px 0 0 10px;
    color: $charcoal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-family: $gotham-bold;
    float: left;
    width: 94%;
  }

  h4 {
    margin-left: 10px;
    color: $charcoal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: $gotham-bold;
    float: left;

    html[dir=rtl] & {
      float: right;
      margin-left: 0px;
      margin-right: 10px;
    }
  }

  .smalltext {
    margin-left: 10px;
    font-size: 13px;
    line-height: 17px;
    font-family: $gotham-regular;
    font-weight:normal;
    color:$charcoal;
    float: left;
    padding-right: 10px;
  }

  html[dir=rtl] & {
    float: right;
  }
}

.courseblock-wide-large {
  background-color: white;
  height: 250px;
  overflow: hidden;
  position: relative;
  float: left;
  border: solid 1px #bbb;
  border-radius:5px;

  a:hover {
    text-decoration: none;
  }

  img {
    box-sizing: content-box;
  }

  .imgspan {
    margin-top: 20px;
    float: right;
  }

  h3 {
    margin: 10px 0 0 10px;
    color: $charcoal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-family: $gotham-bold;
  }

  h4 {
    margin: 10px 0 0 10px;
    color: $charcoal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: $gotham-bold;
  }

  .smalltext {
    margin: 10px 0 0 10px;
    padding-right: 5px;
    font-size: 13px;
    line-height: 17px;
    font-family: $gotham-regular;
    font-weight:normal;
    color:$charcoal;

    html[dir=rtl] & {
      margin: 10px 10px 0 0;
    }
  }

  .betatext {
    color: $realyellow;
    background-color: $light_gray;
    border-radius: 4px;
    padding: 0 5px;
  }
}

.courseblock-tall + .courseblock-tall {
  margin-left: 30px;
}

.courseblock-wide-small + .courseblock-wide-small {
  margin-left: 20px;
}

.courseblock-wide-large + .courseblock-wide-large {
  margin-left: 20px;
}

.courseblock-noaction {
  border-bottom: solid 1px $lighter_gray;
}
