import React from 'react';
import { Platform, StyleSheet, View, WebView } from 'react-native';
import { AppLoading } from 'expo';

import CustomAsset from './CustomAsset';
import DataWarning from './DataWarning';
import packagedFiles from './packagedFiles';

export default class App extends React.Component {

  static APP_HEIGHT = <%- appHeight %>;
  static APP_WIDTH = <%- appWidth %>;

  constructor(props) {
    super(props);
    this.state = {
<% if (!hasDataAPIs) { -%>
      age: DataWarning.AGE_MINIMUM,
<% } -%>
    };
  }

  componentDidMount() {
    this.prepareAssets();
    this.checkAge();
  }

<% if (hasDataAPIs) { -%>
  checkAge = async () => {
    try {
      const age = await AsyncStorage.getItem(DataWarning.AGE_KEY);
      this.setState({ age });
    } catch (e) {
    }
  };
<% } else { -%>
  checkAge = () => {};
<% } -%>

  async prepareAssets() {
    const downloadAssets = packagedFiles.map(({ module, fileName }) =>
      CustomAsset.fromModule(module, fileName)
    );
    await CustomAsset.loadAsyncAssets(downloadAssets);
    const indexHtmlIndex = packagedFiles.findIndex(({ fileName }) => fileName === 'index.html');
    this.setState({
      indexUri: downloadAssets[indexHtmlIndex].localUri,
    });
  }

  onLayout = ({ nativeEvent }) => {
    const { height, width } = nativeEvent.layout;
    this.setState({
      height,
      width,
    });
  };

  onLoad = () => {
    //
    // NOTE: wait for 2 frames after the WebView says it is loaded before we set our state to
    // loaded and remove the "cover" View (without this delay, we see a white flash from the WebView)
    //
    requestAnimationFrame(() => {
      requestAnimationFrame(() => {
        this.setState({
          loaded: true,
        });
      });
    });
  };

  webViewScale() {
    const { height, width } = this.state;

    const heightScale = height / App.APP_HEIGHT;
    const widthScale = width / App.APP_WIDTH;
    return Math.min(heightScale, widthScale);
  }

  webViewContainerStyle() {
    const scale = this.webViewScale();

    return [
      styles.webViewContainer,
      {
        height: App.APP_HEIGHT * scale,
        width: App.APP_WIDTH * scale,
      }
    ];
  }

  render() {
    const { age, height, indexUri, loaded } = this.state;

    if (!age || age < DataWarning.AGE_MINIMUM) {
      return (
        <DataWarning onComplete={this.checkAge} />
      );
    }

    if (!indexUri) {
      return (
        <AppLoading />
      );
    }

    return (
      <View onLayout={this.onLayout} style={styles.container}>
        {!!height && indexUri && <View style={this.webViewContainerStyle()}>
          <WebView
            allowUniversalAccessFromFileURLs
            originWhitelist={['*']}
            allowFileAccess
            source={{uri: indexUri}}
            style={Platform.OS === 'ios' ? styles.webViewIOS : styles.webViewAndroid}
            javaScriptEnabled
            mediaPlaybackRequiresUserAction={false}
            scrollEnabled={false}
            bounces={false}
            scalesPageToFit={Platform.OS === 'ios'}
            onLoad={this.onLoad}
          />
        </View>}
        {!loaded && <View style={styles.cover} />}
      </View>
    );
  }
}

const styles = StyleSheet.create({
  container: {
    ...StyleSheet.absoluteFillObject,
    backgroundColor: 'black',
    justifyContent: 'center',
  },
  cover: {
    ...StyleSheet.absoluteFillObject,
    backgroundColor: 'white',
  },
  webViewIOS: {
    backgroundColor: 'black',
    flex: 1,
  },
  webViewAndroid: {
    backgroundColor: 'white',
    flex: 1,
  },
  webViewContainer: {
    backgroundColor: 'black',
  }
});
