---
title: State advocacy sheet
chart: true
state-facts: true
<%
  if request.params["pdf_version"]
%>
layout: page_print
theme: pdf
<%
  end
%>
---

// Generates custom state fact sheets based on the data in cdo-state-promote Google Sheet.

- require 'state_abbr'
- splat = request.splat_path_info[1..-1].split("/")
- state = splat.last
- state_param = state.upcase
- state_info = DB[:cdo_state_promote].where(state_code_s: state_param).first
- pass unless STATE_ABBR_WITH_DC_HASH.key? state_param.to_sym

:css
  .together {
    display: inline-block;
  }
  .together:after {
    display: block;
    height: 0px;
    visibility: hidden;
  }

.state-fact-sheet
  %h1
    Support K-12 Computer Science Education in
    = state_info[:state_name_s]

  .intro
    .intro-text
      Computer science drives job growth and innovation throughout our economy and society. Computing occupations are the
      %b
        number 1 source of all new wages in the U.S.
      and make up over half of all projected new jobs in STEM fields, making Computer Science one of the most in-demand college degrees. And computing is used all around us and in virtually every field. It’s foundational knowledge that all students need. But computer science is marginalized throughout education. Only 45% of U.S. high schools teach any computer science courses and only 10% of STEM graduates study it. We need to improve access for all students, including groups who have traditionally been underrepresented.

    %img.chart{src: "/images/charts/jobs_degrees.png"}

  .clear
  #top-stats{style: "margin-top: 20px;"}
    %center
      %img{src: "/images/charts/facts-sheet-top-stats.png", width: "100%"}

  %div
    %h2.together
      Computer science in
      = state_info[:state_name_s]
    %ul
      %li
        = state_info[:state_name_s]
        currently has
        %b
          = format_integer_with_commas(state_info[:cs_jobs_i])
          open computing jobs
        = precede "(" do
          = state_info[:growth_vs_average_f]
        times the average demand rate in
        = succeed ")." do
          = state_info[:state_name_s]
      %li
        The average salary for a computing occupation in
        = state_info[:state_code_s]
        is
        %b
          = surround "$", "," do
            = format_integer_with_commas(state_info[:avg_sal_computing_i])
        which is significantly higher than the average salary in the state
        = surround "($", ")." do
          = format_integer_with_commas(state_info[:avg_sal_all_i])
        The existing open jobs alone represent a
        %b
          = precede "$" do
            = format_integer_with_commas(state_info[:sal_x_jobs_bi])
          opportunity
        in terms of annual salaries.
      %li
        = state_info[:state_name_s]
        had only
        %b
          = format_integer_with_commas(state_info[:cs_graduates_i])
          - if state_info[:cs_graduates_i] == 1
            computer science graduate
          - else
            computer science graduates
        in 2017;
        - if state_info[:percent_female_cs_grad_i] == 0
          %b none
        - else
          only
          = succeed "%" do
            %b= state_info[:percent_female_cs_grad_i]
        were female.
      - unless state_info[:count_schools_teach_cs_i] == 0
        %li
          In
          = succeed "," do
            = state_info[:state_name_s]
          only
          %b
            = succeed "%" do
              = state_info[:count_schools_teach_cs_i]
            of all public high schools teach computer science.
      %li
        - if state_info[:ap_cs_exams_i] == 0
          %b
            = format_integer_with_commas(state_info[:ap_cs_exams_i])
            high school students
          in
          = state_info[:state_name_s]
          took an AP Computer Science exam in 2018.
        - else
          Only
          %b
            = format_integer_with_commas(state_info[:ap_cs_exams_i])
            exams were taken in AP Computer Science by high school students in
          = state_info[:state_name_s]
          in 2018
          = precede "(" do
            = format_integer_with_commas(state_info[:ap_csa_exams_i])
          took AP CS A and
          = format_integer_with_commas(state_info[:ap_csp_exams_i])
          took AP CSP).
      %li
        - if state_info[:percent_ap_female_i] != 0
          Only
          = succeed "%" do
            = state_info[:percent_ap_female_i]
        - else
          none
        were female
        = surround "(", "%" do
          = format_integer_with_commas(state_info[:percent_ap_csa_female_i])
        for AP CS A and
        = succeed "%" do
          = format_integer_with_commas(state_info[:percent_ap_csp_female_i])
        for AP CSP);
        - if state_info[:ap_hispanic_i] != 0
          only
          = format_integer_with_commas(state_info[:ap_hispanic_i])
          - if state_info[:ap_hispanic_i] == 1
            exam was taken by Hispanic or Latino students
          - else
            exams were taken by Hispanic or Latino students
        - else
          no exams were taken by Hispanic or Latino students;
        - if state_info[:ap_hispanic_i] != 0
          = precede "(" do
            = format_integer_with_commas(state_info[:ap_csa_hispanic_i])
          took AP CS A and
          = format_integer_with_commas(state_info[:ap_csp_hispanic_i])
          took AP CSP);
        - if state_info[:ap_black_i] != 0
          only
          = format_integer_with_commas(state_info[:ap_black_i])
          - if state_info[:ap_black_i] == 1
            exam was taken by Black students
          - else
            exams were taken by Black students
        - else
          no exams were taken by Black students;
        - if state_info[:ap_black_i] != 0
          = precede "(" do
            = format_integer_with_commas(state_info[:ap_csa_black_i])
          took AP CS A and
          = format_integer_with_commas(state_info[:ap_csp_black_i])
          took AP CSP);
        - if state_info[:ap_native_american_i] != 0
          only
          = format_integer_with_commas(state_info[:ap_native_american_i])
          - if state_info[:ap_native_american_i] == 1
            exam was taken by American Indian or Alaska Native students
          - else
            exams were taken by American Indian or Alaska Native students
        - else
          no exams were taken by American Indian or Alaska Native students;
        - if state_info[:ap_native_american_i] != 0
          = precede "(" do
            = state_info[:ap_csa_native_american_i]
          took AP CS A and
          = state_info[:ap_csp_native_american_i]
          took AP CSP);
        - if state_info[:ap_hawaiian_i] != 0
          only
          = format_integer_with_commas(state_info[:ap_hawaiian_i])
          - if state_info[:ap_hawaiian_i] == 1
            exam was taken by Native Hawaiian or Pacific Islander students
          - else
            exams were taken by Native Hawaiian or Pacific Islander students
        - else
          no exams were taken by Native Hawaiian or Pacific Islander students.
        - if state_info[:ap_hawaiian_i] != 0
          = precede "(" do
            = state_info[:ap_csa_hawaiian_i]
          took AP CS A and
          = state_info[:ap_csp_hawaiian_i]
          took AP CSP).
      %li
        - if state_info[:schools_ap_cs_i] != 0
          Only
          %b
            = format_integer_with_commas(state_info[:schools_ap_cs_i])
            - if state_info[:schools_ap_cs_i] == 1
              school
            - else
              schools
          in
          = state_info[:state_code_s]
          = surround "(", "% of" do
            = state_info[:percent_schools_ap_cs_i]
          = state_info[:state_code_s]
          schools with AP programs) offered an AP Computer Science course in 2017-2018
          = surround "(", "%" do
            = state_info[:percent_schools_ap_csa_i]
          offered AP CS A and
          - if state_info[:number_additional_schools_i] != 0
            = succeed "%" do
              = state_info[:percent_schools_ap_csp_i]
            offered AP CSP), which is
            = state_info[:number_additional_schools_i]
            more than the previous year.
          - else
            = succeed "%" do
              = state_info[:percent_schools_ap_csp_i]
            offered AP CSP).
        - else
          No schools in
          = state_info[:state_code_s]
          offered an AP Computer Science course in 2017-2018.
        - if state_param != 'AK' && state_param != 'AL' && state_param != 'AR' && state_param != 'CA' && state_param != 'FL' && state_param != 'IL' && state_param != 'LA' && state_param != 'MD' && state_param != 'MI' && state_param != 'MN' && state_param != 'MT' && state_param != 'ND' && state_param != 'NE' && state_param != 'NH' && state_param != 'NJ' && state_param != 'NY' && state_param != 'OH' && state_param != 'PA' && state_param != 'RI' && state_param != 'VA'
          There are fewer AP exams taken in computer science than in any other STEM subject area.
      %li
        Universities in
        = state_info[:state_name_s]
        - if state_info[:preservice_prepared_i] == 0
          did not graduate a single new teacher prepared to teach computer science in 2016.
        - else
          only graduated
          = state_info[:preservice_prepared_i]
          new
          - if state_info[:preservice_prepared_i] == 1
            teacher
          - else
            teachers
          prepared to teach computer science in 2016.

      - if state_info[:principals_core_i] != 0
        %li
          According to a representative survey from Google/Gallup, school administrators in
          = state_info[:state_code_s]
          support expanding computer science education opportunities:
          = succeed "%" do
            = state_info[:principals_core_i]
          of principals surveyed think CS is just as or more important than required core classes.
          - if state_info[:principals_barrier_s] == "Yes"
            And their biggest barrier to offering computer science is the lack of funds for hiring and training teachers.
          - elsif state_info[:principals_barrier_s] == "Other"
            And one of their biggest barriers to offering computer science is the lack of funds for hiring and training teachers.

  .chart-text-group
    .improve-edu
      %h2.improve-edu-h2.together
        What can you do to support K-12 CS education in
        = succeed "?" do
          = state_info[:state_name_s]

    %img.chart{src: "/images/charts/learn_teach.png"}

  .clear

  %div
    %ol
      %li
        Nominate a teacher for a professional learning scholarship:
        %a{href: "www.code.org/nominate"} www.code.org/nominate
      %li
        Send a letter:
        %ul
          %li
            To your school/district asking them to expand computer science offerings at every grade level:
            %a{href: "www.code.org/promote/letter"} www.code.org/promote/letter
          %li
            To your elected officials asking them to support computer science education policy in
            = succeed ":" do
              = state_info[:state_name_s]
            - if state_info[:action_text_s] == "NA"
              %a{href: "www.votervoice.net/Code/campaigns/58463/respond"} www.votervoice.net/Code/campaigns/58463/respond
            - else
              = state_info[:action_text_s]
      %li
        Find out if your school teaches computer science or submit information about your school's offerings at
        = succeed "." do
          %a{href: "www.code.org/yourschool"} www.code.org/yourschool
      %li
        Visit
        %a{href: "www.code.org/educate/3rdparty"} www.code.org/educate/3rdparty
        to find out about courses and curriculum from a variety of providers, including Code.org.
      %li
        Visit
        %a{href: state_info[:website_url_s]}= state_info[:website_url_s]
        to learn more about supporting computer science in your state.


  %h2.together
    Who can you connect with locally to talk about K-12 CS education policy?
  %ul
    %li
      You can reach Code.org’s policy contact for your state,
      = succeed "," do
        = state_info[:code_name_s]
      at
      = succeed "." do
        = state_info[:code_email_s]
    - if state_info[:ecep_name_s] != "NA"
      %li
        The Expanding Computing Education Pathways (ECEP) Alliance
        = precede "(" do
          = succeed ")," do
            %a{href: "https://www.ecepalliance.org"} www.ecepalliance.org
        an NSF funded Broadening Participation in Computing Alliance, seeks to increase the number and diversity of students in computing and computing-intensive degrees by promoting state-level computer science education reform. ECEP supports 22 states and the territory of Puerto Rico to develop effective and replicable interventions to broaden participation in computing and to create state-level infrastructure to foster equitable computing education policies. You can reach your ECEP point of contact
        = succeed "." do
          = state_info[:ecep_name_s]
          at
          = state_info[:ecep_email_s]
          - if state_info[:ecep_name_2_s] != "NA"
            or
            = state_info[:ecep_name_2_s]
            at
            = state_info[:ecep_email_2_s]
          - if state_info[:ecep_url_s] != "NA"
            and see your state ECEP project at
            %a{href: state_info[:ecep_url_s]}= state_info[:ecep_url_s]

  %div.clear-both
    %h2.no-margin-bottom.together
      Code.org's impact in
      = state_info[:state_name_s]
    %ul
      %li
        In
        = succeed ',' do
          = state_info[:state_name_s]
        Code.org’s curriculum is used in
        %ul
          %li
            = succeed "%" do
              = state_info[:es_using_codeorg_i]
            of elementary schools
          %li
            = succeed "%" do
              = state_info[:ms_using_codeorg_i]
            of middle schools
          %li
            = succeed "%" do
              = state_info[:hs_using_codeorg_i]
            of high schools
      %li
        There are
        = format_integer_with_commas(state_info[:teacher_studio_acct_i])
        teacher accounts and
        = format_integer_with_commas(state_info[:student_studio_acct_i])
        student accounts on Code.org in
        = succeed '.' do
          = state_info[:state_name_s]
      %li
        Of students in
        = state_info[:state_name_s]
        using Code.org curriculum last school year,
        %ul
          %li
            = succeed "%" do
              = state_info[:highneed_codeorg_i]
            attend high needs schools
          %li
            = succeed "%" do
              = state_info[:rural_codeorg_i]
            are in rural schools
          %li
            = succeed "%" do
              = state_info[:female_codeorg_i]
            are female students
          %li
            = succeed "%" do
              = state_info[:urm_codeorg_i]
            are underrepresented minority students (Black/African American, Hispanic/Latino, American Indian, or Hawaiian)
      %li
        - if state_info[:professional_learning_partners_t] == 'none' && state_info[:num_affiliates_i] == 0
          Code.org has
        - elsif state_info[:professional_learning_partners_t] != 'none' && state_info[:num_affiliates_i] == 0
          Code.org and its regional partner(s)
          = state_info[:professional_learning_partners_t]
          have
        - elsif state_info[:num_affiliates_i] != 0
          - if state_info[:professional_learning_partners_t] != 'none'
            Code.org, its regional partner(s)
            = succeed "," do
              = state_info[:professional_learning_partners_t]
            and
            = format_integer_with_commas(state_info[:num_affiliates_i])
            - if state_info[:num_affiliates_i] == 1
              facilitator have
            - else
              facilitators have
          - else
            Code.org and
            = format_integer_with_commas(state_info[:num_affiliates_i])
            - if state_info[:num_affiliates_i] == 1
              facilitator have
            - else
              facilitators have
        provided professional learning in
        = state_info[:state_name_s]
        for
        %ul
          %li
            = format_integer_with_commas(state_info[:num_elementary_trained_i])
            - if state_info[:num_elementary_trained_i] == 1
              teacher
            - else
              teachers
            in CS Fundamentals (K-5)
          - if state_info[:num_ecs_csd_i] != 0
            - if state_info[:num_csp_i] == 0
              %li
                = format_integer_with_commas(state_info[:num_ecs_csd_i])
                - if state_info[:num_ecs_csd_i] == 1
                  teacher
                - else
                  teachers
                in Exploring Computer Science or Computer Science Discoveries
            - else
              %li
                = format_integer_with_commas(state_info[:num_ecs_csd_i])
                - if state_info[:num_ecs_csd_i] == 1
                  teacher
                - else
                  teachers
                in Exploring Computer Science or Computer Science Discoveries
              %li
                = format_integer_with_commas(state_info[:num_csp_i])
                - if state_info[:num_csp_i] == 1
                  teacher
                - else
                  teachers
                in Computer Science Principles
          - elsif state_info[:num_csp_i] != 0
            %li
              = format_integer_with_commas(state_info[:num_csp_i])
              - if state_info[:num_csp_i] == 1
                teacher
              - else
                teachers
              in Computer Science Principles
    %p
      - if state_info[:other_partners_t] != 'none'
        Code.org has a partnership with
        = state_info[:other_partners_t]
        to help spread K-5 computer science to its schools.

  .quote-center
    %h3 “Computer Science is a liberal art: it’s something that everybody should be exposed to and everyone should have a mastery of to some extent.”
    %p — Steve Jobs

  %div
    %p
      %h2.together What can your state do to improve computer science education?
      States and local school districts need to adopt a broad policy framework to provide all students with access to computer science. The following nine recommendations are a menu of best practices that states can choose from to support and expand computer science. Not all states will be in a position to adopt all of the policies. Read more about these 9 policy ideas at
      %a{href: "https://code.org/files/Making_CS_Fundamental.pdf"} https://code.org/files/Making_CS_Fundamental.pdf
      and see our rubric for describing state policies at
      = succeed "." do
        %a{href: "http://bit.ly/9policiesrubric"} http://bit.ly/9policiesrubric
    %div.policies

      %div.policy-item
        - if state_info[:state_plan_s] == 'Yes'
          %div
            %i.fa.fa-check-square-o
            = state_info[:state_name_s]
            has created a state plan for K-12 computer science.
        - elsif state_info[:state_plan_s] == 'No'
          %div
            %i.fa.fa-square-o
            = state_info[:state_name_s]
            %b has not
            yet created a state plan for K-12 computer science. A plan that articulates the goals for computer science, strategies for accomplishing the goals, and timelines for carrying out the strategies is important for making computer science a fundamental part of a state’s education system.
        - elsif state_info[:state_plan_s] == 'Other'
          %div
            %i.fa.fa-square-o
            = state_info[:policy_0_t]

      %div.policy-item
        - if state_info[:cs_standards_s] == 'Yes'
          %div
            %i.fa.fa-check-square-o
            = state_info[:state_name_s]
            has established K-12 computer science standards.
        - elsif state_info[:cs_standards_s] == 'No'
          %div
            %i.fa.fa-square-o
            = state_info[:state_name_s]
            %b does not yet
            have rigorous computer science standards publicly available across K-12. Computer science has often been confused with broader technology education in schools. The state could strengthen its computer science programs by publicly adopting discrete standards for computer science focused on both the creation and use of software and computing technologies at all levels of K-12 education. These standards can be guided by the concepts, practices, and recommendations in the K-12 Computer Science Framework, found at
            = succeed "." do
              %a{href: "http://www.k12cs.org"} http://www.k12cs.org
        - elsif state_info[:cs_standards_s] == 'Other'
          %div
            %i.fa.fa-square-o
            = state_info[:policy_1_t]

      %div.policy-item
        - if state_info[:pd_funding_s] == 'Yes'
          %div
            %i.fa.fa-check-square-o
            = state_info[:state_name_s]
            has allocated funding for rigorous computer science professional development and course support.
        - elsif state_info[:pd_funding_s] == 'No'
          %div
            %i.fa.fa-square-o
            = state_info[:state_name_s]
            %b does not yet
            provide dedicated funding for rigorous computer science professional development and course support. Although funds may be available via broader programs, the state can strengthen its computer science programs by creating specific opportunities to bring computer science to school districts, such as matching fund programs.
        - elsif state_info[:pd_funding_s] == 'Other'
          %div
            %i.fa.fa-check-square-o
            = state_info[:policy_2_t]

      %div.policy-item
        - if state_info[:cs_teacher_cert_s] == 'Yes'
          %div
            %i.fa.fa-check-square-o
            = state_info[:state_name_s]
            has clear certification pathways for computer science teachers.
        - elsif state_info[:cs_teacher_cert_s] == 'No'
          %div
            %i.fa.fa-square-o
            = state_info[:state_name_s]
            %b does not yet
            have clear certification pathways for computer science teachers. The expansion of K-12 computer science education is hampered by the lack of qualified computer science teachers. We can grow their ranks by creating clear, navigable, and rewarding professional paths for computer science teachers.
        - elsif state_info[:cs_teacher_cert_s] == 'Other'
          %div
            %i.fa.fa-square-o
            = state_info[:policy_3_t]

      %div.policy-item
        - if state_info[:pre_service_s] == 'Yes'
          %div
            %i.fa.fa-check-square-o
            = state_info[:state_name_s]
            has established programs at institutions of higher education to offer computer science to preservice teachers.
        - elsif state_info[:pre_service_s] == 'No'
          %div
            %i.fa.fa-square-o
            = state_info[:state_name_s]
            %b has not yet
            established programs at institutions of higher education to offer computer science to preservice teachers. The computer science teacher shortage can be addressed by exposing more preservice teachers to computer science during their required coursework or by creating specific pathways for computer science teachers.
        - elsif state_info[:pre_service_s] == 'Other'
          %div
            %i.fa.fa-square-o
            = state_info[:policy_4_t]

      %div.policy-item
        - if state_info[:state_position_s] == 'Yes'
          %div
            %i.fa.fa-check-square-o
            = state_info[:state_name_s]
            has a dedicated computer science position in the state education agency.
        - elsif state_info[:state_position_s] == 'No'
          %div
            %i.fa.fa-square-o
            = state_info[:state_name_s]
            %b does not yet
            have dedicated computer science positions in state or local education agencies. Creating a statewide computer science leadership position within the state education agency can help expand state-level implementation of computer science education initiatives. Similar positions at the local level could support districts’ expansion of course offerings and professional development.
        - elsif state_info[:state_position_s] == 'Other'
          %div
            %i.fa.fa-square-o
            = state_info[:policy_5_t]

      %div.policy-item
        - if state_info[:require_hs_s] == 'Yes'
          %div
            %i.fa.fa-check-square-o
            = state_info[:state_name_s]
            requires that all secondary schools offer computer science.
        - elsif state_info[:require_hs_s] == 'No'
          %div
            %i.fa.fa-square-o
            = state_info[:state_name_s]
            %b does not yet
            require that all secondary schools offer computer science. The state can support the expansion of computer science courses by adopting policies that require schools to offer a computer science course based on rigorous standards, with appropriate implementation timelines and allowing for remote and/or in-person courses.
        - elsif state_info[:require_hs_s] == 'Other'
          %div
            %i.fa.fa-check-square-o
            = state_info[:policy_6_t]

      %div.policy-item
        - if state_info[:cs_counts_t] == 'Yes'
          %div
            %i.fa.fa-check-square-o
            = state_info[:state_name_s]
            allows computer science to count for a core graduation requirement. Find out how
            = state_info[:state_name_s]
            allows computer science to count towards graduation at
            = succeed "." do
              %a{href: "http://bit.ly/9policies"} http://bit.ly/9policies
        - elsif state_info[:cs_counts_t] == 'No'
          %div
            %i.fa.fa-square-o
            = state_info[:state_name_s]
            %b does not yet
            allow computer science to count for a core graduation requirement. States that count computer science as a core graduation requirement see 50% more enrollment in their AP Computer Science courses and increased participation from underrepresented minorities. Find out how other states allow computer science to count towards graduation at
            = succeed "." do
              %a{href: "http://bit.ly/9policies"} http://bit.ly/9policies
        - elsif state_info[:cs_counts_t] == 'Other'
          %div
            %i.fa.fa-check-square-o
            = state_info[:policy_7_t]
            Find out how
            = state_info[:state_name_s]
            allows computer science to count towards graduation at
            = succeed "." do
              %a{href: "http://bit.ly/9policies"} http://bit.ly/9policies

      .policy-item
        - if state_info[:higher_ed_entrance_s] == 'Yes'
          %div
            %i.fa.fa-check-square-o
            = state_info[:state_name_s]
            allows computer science to count as a core admission requirement at institutions of higher education.
        - elsif state_info[:higher_ed_entrance_s] == 'No'
          %div
            %i.fa.fa-square-o
            = state_info[:state_name_s]
            %b does not yet
            allow computer science to count as a core admission requirement at institutions of higher education. Admission policies that do not include rigorous computer science courses as meeting a core entrance requirement, such as in mathematics or science, discourage students from taking such courses in secondary education. State leaders can work with institutions of higher education to ensure credit and articulation policies align with secondary school graduation requirements.
        - elsif state_info[:higher_ed_entrance_s] == 'Other'
          %div
            %i.fa.fa-square-o
            = state_info[:policy_8_t]

  %div
    %h3 Follow us!
    %p
      Join our efforts to give every student in every school the opportunity to learn computer science. Learn more at
      = succeed "," do
        %a{href: "https://code.org"} code.org
      or follow us on
      %a{href: "https://www.facebook.com/Code.org"} Facebook
      and
      = succeed "." do
        %a{href: "https://twitter.com/codeorg"} Twitter
    %div
      %p Launched in 2013, Code.org® is a nonprofit dedicated to expanding access to computer science, and increasing participation by women and underrepresented students of color. Our vision is that every student in every school should have the opportunity to learn computer science.
    %p.clear-both.sources Data is from the Conference Board for job demand, the Bureau of Labor Statistics for state salary and national job projections data, the College Board for AP exam data, the National Center for Education Statistics for university graduate data, the Gallup and Google research study Education Trends in the State of Computer Science in U.S. K-12 Schools for parent demand, the 2018 Computer Science Access Report for schools that offer computer science, and Code.org for its own courses, professional learning programs, and participation data.
