---
theme: responsive
banner: null
social:
  "twitter:site": "@codeorg"
  "twitter:url": "https://csedweek.org/"
video_player: true
---

%div
  = view :index_hoc

-facebook = {:u=>"https://#{request.site}/"}
-twitter = {:related=>'codeorg', :text=>I18n.t(:twitter_cs_foundational)}
-hoc_mode = DCDO.get("hoc_mode", CDO.default_hoc_mode)

%script{:src=>"/js/jquery.placeholder.js"}
%script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?client=#{CDO.google_maps_client_id}&sensor=false&libraries=places,geometry&v=3.37"}
%script{type: "text/javascript", src: "/js/jquery.geocomplete.min.js"}

#index
  #gap.feature-codeorg

  #top
    #video.col-63.desktop-pad-right
      = view :display_video_thumbnail, id: "main_video", video_code: "QvyTEx1wyOY", play_button: 'center', download_path: "//videos.code.org/social/cs-is-everything.mp4"

    #start.col-36
      %div.desktop-feature{:style=>'height: 25px;'}
      #hoc2014

        .count{:style=>"font-family: 'Gotham 5r', sans-serif; margin-bottom:15px" }
          -count_string = I18n.t(:n_have_learned_an_hoc).gsub("#", format_integer_with_commas(fetch_hoc_metrics['started']).to_s)
          -if request.locale == 'en-US'
            %a{:href=>'/leaderboards', :style=>'text-decoration:none'}
              =count_string
            %h4
              =I18n.t :anybody_can_learn
          -else
            =count_string

        %div{:style=>'margin-bottom: 8px'}
          = view :csedweek_action_buttons, hoc_mode: hoc_mode

    -download_filename = 'cs-is-everything.mp4'
    #below.mobile-center{:style=>'clear:both; overflow:hidden; padding-top: 0px'}
      = view :share_buttons, facebook:facebook, twitter:twitter, download_url:"http://videos.code.org/social/#{download_filename}"

  %br
  %div{:style=>'clear:both;'}
  = view :map

  #columns.desktop-feature{:style=>'clear:both; overflow:hidden'}
    #column1{:style=>'float:left; width: 50%'}
      %h2 Teachers & Educators
      #column1content
        -count = 0
        -DB[:cdo_homepage_teachers].where(site_s:['all', request.site]).each do |value|
          -unless count == 0
            %hr.narrow_hr
          =value[:text_s]
          %a{:href=>value[:url_s]}
            =value[:linktext_s]
          -count += 1
        %br
        %br
        %a{:href=>"http://code.org/educate/hoc"}
          %button{:style=>'width:200px'}
            Teach an Hour of Code

        = view 'find-on-fb', current_site:request.site

    #column2{:style=>'float:left; width: 50%; padding-left: 25px'}
      %h2 Latest Highlights
      #column2content
        -count = 0
        -DB[:cdo_news_items].where(site_s:['all', request.site]).order('id').limit(7).each do |value|
          -unless count == 0
            %hr.narrow_hr
          %a{:href=>value[:url_s], :target=>'_blank'}
            =value[:heading_s]
          %br
          = value[:date_dt]
          = '//'
          = value[:publication_s]
          -count += 1
        %br
        %br
        %a{:href=>'/about/news', :style=>'float:right'} See all

  #gap

= view 'popup_window.js'
