- content_for(:head) do
  %script{src: minifiable_asset_path('js/levelbuilder.js')}
  :scss
    .main .new-level {
      font-size: 20px;
      line-height: 40px;
      margin: 10px 0;
      float: right;
    }
    .pagination {
      text-align: center;
    }
    .main table {
      width: 100%;
    }
    .controls-column {
      width: 1%;
      white-space: nowrap;
      > a {
        &:hover {
          text-decoration: none;
        }
        &:first-of-type {
          margin-left: 1em;
        }
        &:last-of-type {
          margin-right: 1em;
        }
      }
    }

- if can? :create, Level
  = link_to new_level_path, class: 'new-level' do
    %i.fa.fa-plus-circle
    = t('crud.new_model', model: Level.model_name.human)

%h1 Levels
= form_tag levels_path, method: :get do
  %table
    %tr
      - @search_fields.each do |field|
        %td= label_tag field[:name], field[:description]
      %td
    %tr
      - @search_fields.each do |field|
        - if field[:type] == 'text'
          %td= text_field_tag field[:name], params[field[:name]]
        - elsif field[:type] == 'select'
          %td= select_tag field[:name], options_for_select(field[:options], params[field[:name]])

      %td= submit_tag "Search"

%table
  %thead
    %tr
      %th.controls-column
      %th Name
      %th Type
      - if Rails.application.config.levelbuilder_mode
        %th Owner
  %tbody
    - @levels.each do |level|
      %tr
        %td.controls-column
          - if can? :edit, level
            = link_to edit_level_path(level), title: t('crud.edit') do
              %i.fa.fa-fw.fa-pencil
          - else
            %i.fa.fa-fw

          - if can? :destroy, level
            = link_to level, title: t('crud.destroy'), method: :delete, data: { confirm: t('crud.confirm') } do
              %i.fa.fa-fw.fa-trash
          - else
            %i.fa.fa-fw

          - if can? :clone, level
            = link_to '', title: 'Clone', onclick: "$('#clone_#{level.id}').toggle(); return false;" do
              %i.fa.fa-fw.fa-copy
            %div{class: 'clone_level', id: "clone_#{level.id}", style: 'display: none;'}
              = form_tag clone_level_path(level), method: :post, remote: true do
                = label_tag 'New name:'
                = text_field_tag :name, level.name
                = submit_tag 'Clone'
          - else
            %i.fa.fa-fw

        -# Level name column, linked to view action if permitted
        %td
          - if can? :view, level
            = link_to level.name, level, title: t('crud.show')
          - else
            = level.name

        -# Level type column
        %td= level.class.name

        -# Level owner column (only on levelbuilder)
        - if Rails.application.config.levelbuilder_mode
          %td= level.user&.name

= paginate @levels
%br/
#validation-error.validation-error{style: 'background-color: yellow'}
:javascript
  window.levelbuilder.ajaxSubmit('.clone_level');
  $('.clone_level').on('ajax:beforeSend', function (e, xhr) {
    var validation_error = $('#validation-error').detach();
    $(e.target).parent().append(validation_error);
  });
