- content_for(:head) do
  %script{src: minifiable_asset_path('js/peer_reviews/show.js')}
.peer-review
  - reviewed = @peer_review.review_completed?

  - if @peer_review.script.professional_learning_course?
    #breadcrumb
    - course_unit = @peer_review.script.plc_course_unit
    - react_props = {unit_name: course_unit.unit_name, unit_view_path: script_path(course_unit.script), course_view_path: course_path(course_unit.plc_course.course), page_name: t('flex_category.peer_review')}
    :javascript
      ReactDOM.render(
        React.createElement(window.dashboard.plcHeader, #{react_props.to_json}),
        document.getElementById('breadcrumb')
      );

  %h1
    =t('flex_category.peer_review')

  - unless reviewed
    %p Please review the peer submission in the grey box below.

  .submitted_readonly{style: 'padding: 8px;'}
    :javascript
      var appOptions = #{app_options.to_json};
    = render partial: 'levels/free_response', locals: {in_level_group: true}

  - if current_user.permission? UserPermission::PLC_REVIEWER
    #previous-reviews
      %p Previous reviews
      - @peer_review.related_reviews.where.not(reviewer: nil).each do |peer_review|
        .peer-review-content{class: peer_review.css_classes}
          %p.peer-review-title
            %strong="#{peer_review.reviewer.name} added #{time_ago_in_words(peer_review.updated_at)} ago"
          %p.peer-review-status= peer_review.localized_status_description
          %p.peer-review-data= peer_review.data

  %br
  %p Does this submission satisfy the requirements stated in the question?

  = form_for @peer_review do |f|
    - if @peer_review.errors.any?
      #error_explanation
        %h2= "#{pluralize(@peer_review.errors.count, 'error')} prohibited this peer_review from being saved:"
        %ul
          - @peer_review.errors.full_messages.each do |msg|
            %li= msg
    - if current_user.permission? UserPermission::PLC_REVIEWER
      .field
        %label
          = f.radio_button :status, :accepted, disabled: reviewed, checked: ['accepted', nil].include?(@peer_review.status)
          != t('peer_review.accepted.description_markdown', markdown: true)
        %label
          = f.radio_button :status, :rejected, disabled: reviewed
          != t('peer_review.rejected.description_markdown', markdown: true)
    .field
      %p Review notes:
      = f.text_area :data, rows: 7, placeholder: 'Type your peer review here', style: 'width: 100%; box-sizing: border-box;', disabled: reviewed
    - unless reviewed
      .actions
        = f.submit 'Submit', class: 'btn btn-large btn-primary', disabled: current_user.plc_reviewer?
