%legend.control-legend{data: {toggle: "collapse", target: "#blockly_editors"}}
  Blockly Editors

#blockly_editors.in.collapse

  %p
    These editors allow you to directly edit the XML of toolbox, start, required, recommended, initialization,
    and solution blocks. These can also be changed in a UI in the Admin Box, which appears on the level view.
  %p
    Learn more about them with the documentation
    =link_to 'here', 'https://github.com/code-dot-org/code-dot-org/wiki/%5BLevelbuilder%5D-Navigating-the-Blockly-Workspace-Editors', target: '_blank'

  .field
    = link_to 'Edit Toolbox Blocks', edit_blocks_level_path( @level, :toolbox_blocks) unless @level.new_record?
    = render partial: 'levels/editors/collapsible_block_editor', locals: {f: f, xml_id: 'toolbox'}

  .field
    = link_to 'Edit Start Blocks', edit_blocks_level_path(@level, :start_blocks) unless @level.new_record?
    = render partial: 'levels/editors/collapsible_block_editor', locals: {f: f, xml_id: 'start'}

  .field
    = link_to 'Edit Required Blocks', edit_blocks_level_path(@level, :required_blocks) unless @level.new_record?
    = render partial: 'levels/editors/collapsible_block_editor', locals: {f: f, xml_id: 'required'}

  .field
    = link_to 'Edit Recommended Blocks', edit_blocks_level_path(@level, :recommended_blocks) unless @level.new_record?
    = render partial: 'levels/editors/collapsible_block_editor', locals: {f: f, xml_id: 'recommended'}

  .field
    = link_to 'Edit Initialization Blocks', edit_blocks_level_path(@level, :initialization_blocks) unless @level.new_record?
    = render partial: 'levels/editors/collapsible_block_editor', locals: {f: f, xml_id: 'initialization'}

  -if @level.respond_to? :solution_blocks
    .field
      = link_to 'Edit Solution Blocks', edit_blocks_level_path(@level, :solution_blocks) unless @level.new_record?
      = render partial: 'levels/editors/collapsible_block_editor', locals: {f: f, xml_id: 'solution'}
