<%= clear_secrets %>

chef_local_mode: true
stub_school_data: true
db_writer: 'mysql://root@localhost/'

# needed by storage_id helper
poste_secret: not a real secret


# Engineers need to be able to see raw HTTP error pages so they can debug their feature branch on an adhoc.
custom_error_response: false

jotform_forms:
  academic_year_1:
    day_1:         92125650301142
    facilitator:   91372090131144
    post_workshop: 92125916725157
  academic_year_2:
    day_1:         92125614667157
    facilitator:   91372090131144
    post_workshop: 92125916725157
  academic_year_3:
    day_1:         92125413150141
    facilitator:   91372090131144
    post_workshop: 92125916725157
  academic_year_4:
    day_1:         92125122319145
    facilitator:   91372090131144
    post_workshop: 92125916725157
  academic_year_1_2:
    day_1:         92125650301142
    day_2:         92125614667157
    facilitator:   91372090131144
    post_workshop: 92125916725157
  academic_year_3_4:
    day_1:         92125413150141
    day_2:         92125122319145
    facilitator:   91372090131144
    post_workshop: 92125916725157
  virtual_1:
    day_1:         92175136628158
    facilitator:   92175282703154
    post_workshop: 92174983603160
  virtual_2:
    day_1:         92175665906164
    facilitator:   92175282703154
    post_workshop: 92174983603160
  virtual_3:
    day_1:         92175784085164
    facilitator:   92175282703154
    post_workshop: 92174983603160
  virtual_4:
    day_1:         92175722303149
    facilitator:   92175282703154
    post_workshop: 92174983603160
  virtual_5:
    day_1:         92175483700154
    facilitator:   92175282703154
    post_workshop: 92174983603160
  virtual_6:
    day_1:         92175857756170
    facilitator:   92175282703154
    post_workshop: 92174983603160
  virtual_7:
    day_1:         92175683174161
    facilitator:   92175282703154
    post_workshop: 92174983603160
  virtual_8:
    day_1:         92175542003146
    facilitator:   92175282703154
    post_workshop: 92174983603160
  local:
    day_0:       81307473693159
    day_1:       81236323593153
    day_2:       81368536787170
    day_3:       81368909887175
    day_4:       81368069687170
    day_5:       81495142793161
    facilitator: 81276605393158
  local_summer:
    day_0:       90986490369171
    day_1:       90986506471163
    day_2:       90986458251165
    day_3:       90986477669179
    day_4:       90986953273169
    day_5:       90986517815167
    facilitator: 91372090131144
  post_course:
    2018-2019: 90486182774164
  csf:
    pre201:      90066184161150
    post201:     90065524560150
    facilitator: 91405279991164
