github_webhook_secret: !Secret
slack_set_last_dtt_green_token: !Secret
slack_start_build_token: !Secret
azure_content_moderation_key: !Secret
saucelabs_authkey: !Secret
saucelabs_username: !Secret
zendesk_secret:

# Disable Secrets for CI, unit-test runs,
# and other non-chef_managed environments (e.g., preloading Spring for Rails tests).
<% if ci_test || !chef_managed -%>
<%= clear_secrets %>

dashboard_honeybadger_api_key: '00000000'
pegasus_honeybadger_api_key:   '00000000'
google_safe_browsing_key: fake_api_key
pusher_app_id:             fake_app_id
pusher_application_key:    fake_application_key
pusher_application_secret: fake_application_secret
poste_secret: not a real secret
dashboard_devise_pepper: not a pepper!
dashboard_secret_key_base: not a secret
google_maps_api_key: boguskey
db_writer: 'mysql://root@localhost/'
<% end -%>

db_cluster_id: test-cluster
netsim_enable_metrics: true
stub_school_data: true
daemon: true
use_pusher: <%=!ci_test%>

# test environment should use precompiled, minified, digested assets like production,
# unless it's being used for unit tests. This logic should be kept in sync with
# the logic for setting config.assets.* under dashboard/config/.
pretty_js: <%=ci_test%>

# Since channel ids are derived from user id and other sequential integer ids
# use a new S3 sources directory for each Test Build to prevent a UI test
# from inadvertently using a channel id from a previous Test Build.
# CircleCI environments already override the sources_s3_directory setting to suffix it with the Circle Build number:
# https://github.com/code-dot-org/code-dot-org/blob/fb53af48ec0598692ed19f340f26d2ed0bd9547b/.circleci/config.yml#L153
# Detect Circle environment just to be safe.
sources_s3_directory: sources_test<%=ENV['CIRCLECI'] ? '' : "/#{GitUtils.git_revision_short(root_dir)}"%>

# Disable this for test by default, it won't make much sense if we keep wiping
# the DB.
disable_s3_image_uploads: true

# provide a unique path for firebase channels data for ci, to avoid conflicts in channel ids.
firebase_channel_id_suffix: '<%=ci ? "-#{circle_run_identifier}" : ''%>'

# Overrides for Jotform Form Ids
jotform_forms:
  local:
    day_0: 1
    day_1: 2
    day_2: 3
    day_3: 4
    day_4: 5
    day_5: 6
    facilitator: 7
    post_workshop: 6
  local_summer:
    day_0: 1
    day_1: 2
    day_2: 3
    day_3: 4
    day_4: 5
    day_5: 6
    facilitator: 7
    post_workshop: 6
  academic_year_1:
    day_1: 10
    facilitator: 11
    post_workshop: 12
  academic_year_2:
    day_1: 20
    facilitator: 11
    post_workshop: 12
  academic_year_3:
    day_1: 30
    facilitator: 11
    post_workshop: 12
  academic_year_4:
    day_1: 40
    facilitator: 11
    post_workshop: 12
  academic_year_1_2:
    day_1: 10
    day_2: 20
    facilitator: 11
    post_workshop: 12
  academic_year_3_4:
    day_1: 30
    day_2: 40
    facilitator: 11
    post_workshop: 12
