%link{rel: "stylesheet", type: "text/css", href: "/css/map.css"}
%link{href:'https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css', rel:'stylesheet'}
%script{src:'https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'}
%script{src: minifiable_asset_path("js/hourofcode.com/views/hoc_events_map.js"), defer:true}

%div{id: 'mapbox-map'}

%div{id: 'belowmaplegend', class: 'legend'}
  .legend-title= hoc_s(:map_legend_title)
  .color.orange
  %div= hoc_s(:map_legend_hoc_events)
  .color.red
  %div= hoc_s(:map_legend_cs_tech_jam)


:javascript
  mapboxgl.accessToken = "#{CDO.mapbox_access_token}";
