---
title: Find a Local School
theme: responsive
---
-search_location ||= nil
-class_format_s ||= nil
-class_format_category_s ||= nil
-class_languages_all_ss ||= nil
-school_level_ss ||= nil
-school_tuition_s ||= nil
%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?client=#{CDO.google_maps_client_id}&sensor=true&libraries=places,geometry&v=3.37"}
%script{type: "text/javascript", src: "/js/maplace.min.js"}
%script{type: "text/javascript", src: "/js/jquery.geocomplete.min.js"}
%script{type: "text/javascript", src: "/js/class-search.js"}
%script{type: "text/javascript", src: "/js/jquery.colorbox-min.js"}
%script{type: "text/javascript", src: "/js/jquery.sticky.js"}
%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/
%link{rel: "stylesheet", type: "text/css", href: "/css/colorbox.css"}/
%link{rel: "stylesheet", type: "text/css", href: "/css/class-search.css"}/

/[if lt IE 9]
  %script{src: "/js/es5-shim.min.js"}

%link{href: "/css/learn-tabs.css", rel: "stylesheet"}

%h1 Find a Local Computer Science Class

%p
  Enter your address to find a local computer science class. Don't see your school/classroom listed?
  %a{href: "/schools/new"} Submit it here

%form#class-search-form{role: "form", onsubmit: "event.preventDefault();"}
  .form-section.row
    .form-group.col-xs-6
      %div
        %input#location.form-control.input-lg{name: "location", placeholder: "Search my location", type: "text", value: search_location}/
    .form-group.submit-btn
      %button#btn-submit.input-lg{type: "submit", style: "margin-top: 0px"} Search
  #class-search-facets.form-section.row
    %h3.col-xs-12{style: 'margin-top: 0;'} Narrow your search
    .form-group.col-xs-3
      %label.control-label.small{for: "class-format-category", style: "font-weight: normal;"} Class format
      %div
        %select#class-format-category.form-control{name: "class_format_category_s", type: "select"}
          %option{selected: class_format_s.nil_or_empty?, value: ""}
          -ClassSubmission.formats.each_pair do |key,group|
            -if key != 'online'
              %option{value: key, selected: key == class_format_category_s}= group['label']
    .form-group.col-xs-3
      %label.control-label.small{for: "class-languages", style: "font-weight: normal;"} Language(s)
      %div
        %select#class-languages.form-control{name: "class_languages_all_ss[]", type: "select", multiple: true}
          %option{selected: class_languages_all_ss.nil_or_empty?, value: ""}
          -ClassSubmission.languages.each do |label|
            %option{value: label, selected: (class_languages_all_ss||[]).include?(label.to_s)}= label
    .form-group.col-xs-3
      %label.control-label.small{for: "school-level", style: "font-weight: normal;"} Level(s)
      %div
        %select#school-level.form-control{name: "school_level_ss[]", type: "select", multiple: true}
          %option{selected: school_level_ss.nil_or_empty?, value: ""}
          -ClassSubmission.levels.each_pair do |key,label|
            %option{value: key, selected: (school_level_ss||[]).include?(key.to_s)}= label
    .form-group.col-xs-3
      %label.control-label.small{for: "class-tuition", style: "font-weight: normal;"} Public/private
      %div
        %select#school-tuition.form-control{name: "school_tuition_s", type: "select"}
          %option{selected: school_tuition_s.nil_or_empty?, value: ""}
          %option{value: 'no', selected: (school_tuition_s) == 'no'} Public/free
          %option{value: 'yes', selected: (school_tuition_s) == 'yes'} Private/tuition

#class-search-results.row{style: 'margin-top: 1em; display: none;'}
  #class-search-controls.col-xs-5
    #controls
  #class-search-map.col-xs-7
    #gmap{style: "width: 553px; height: 640px; padding: 10px; padding: 3px; border: 3px solid #ddd;"}
.row
  #class-search-error.col-xs-12{style: 'margin-top: 2em; display: none;'}

#location-details{style: 'display: none'}
