%h1 Directory of Admin Dashboards

%h3 Code Studio Progress
= link_to level_completions_path do
  Level Completion
%br
= link_to pd_progress_path(:script_id => 33) do
  PD Progress
%br

%h3 Hour of Code
= link_to hoc_students_served_path do
  Students Served

%h3 Search
= link_to find_students_path do
  For Users

%h3 Regional Partners
= link_to t('crud.new_model', model: RegionalPartner.model_name.human), new_regional_partner_path

%h3 Pilot Experiments
%p
  = link_to 'CSD Piloters', show_pilot_path(pilot_name: 'csd-piloters')
%p
  = link_to 'CSP Piloters', show_pilot_path(pilot_name: 'csp-piloters')
